body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.textbox {
  display: inline-block;
  max-width: 75%;
  height: 1.5em;
}

#enne1 {
  border-radius: 35%;
}

.button {
  background-color: #a1badb; /* Green */
  color: Blablack;
  padding: 15px 32px;
  text-align: center;
  border-radius: 30%;
  display: inline-block;
  font-size: 90%;
}

.list {
  display: inline-block;
  text-align: left;
  max-width: 65%;
  height: 1.5em;
}

.input {
  font-size: 100%;
  margin-bottom: 1%;
}

.chart {
  display: inline-block;
  max-width: 75%;
  height: 1.5em;
}